<section class="subtron">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <ul class="list-inline social">
                    <li><a href="https://twitter.com/iamchiriboga" target="_blank" style="font-size:35px"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/richardchiriboga" target="_blank" style="font-size:35px"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://github.com/chiriboga" target="_blank" style="font-size:35px"><i class="fa fa-github-square"></i></a></li>
                    <li><a href="https://stackoverflow.com/story/richardchiriboga" target="_blank" style="font-size:35px"><i class="fa fa-stack-overflow"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
