<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://richardchiriboga.com"
        },
        "headline": "{{ page.title | xml_escape  }}",
        "alternativeHeadline": "{{ page.title | xml_escape  }}",
        "image": "{{ page.shareimage }}",
        "award": "",
        "editor": "Richard Chiriboga",
        "genre": "{{ page.categories }}",
        "keywords": "{{ page.categories }}",
        //"wordcount": "",
        "publisher": {
            "@type": "Person",
            "name": "Richard Chiriboga",
            "logo": {
                "@type": "ImageObject",
                "name": "Richard Chiriboga",
                "width": "500",
                "height": "500",
                "url": "https://richardchiriboga.com/img/richard-chiriboga-logo.png"
            }
        },
        "url": "{{ page.url | absolute_url }}",
        "datePublished": "{{page.date}}",
        "dateCreated": "{{page.date}}",
        "dateModified": "{{page.date}}",
        "description": "{{ page.excerpt | xml_escape }}",
        "articleBody": "{{ content | xml_escape }}",
        "author": {
            "@type": "Person",
            "name": "Richard Chiriboga"
        }
    }
</script>