<form method="POST" action="https://formspree.io/richardchiriboga@gmail.com" style="margin-bottom: 40px;">
  <input type="hidden" name="_subject" value="Website Contact Form"> 
  <input name="_gotcha" style="display:none">
  <div class="form-group"> 
    <label for="FullName">Full name</label>
    <input class="form-control" id="FullName" name="fullname" placeholder="Full Name" required="">
  </div>
  <div class="form-group"> 
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Full Name" required="">
  </div>
  <div class="form-group">
    <label for="email">Your Message</label>
    <textarea class="form-control" name="message" placeholder="Your message" required=""></textarea>
  </div>
  <button type="submit" class="btn btn-rc">Send</button>
</form>