<div class="overlap-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Repositories</h3>
            </div>
        </div>
        <div class="row">
          {% for repo in site.data.repositories %}
          <div class="col-lg-4">
                <a href="https://github.com/chiriboga/{{repo.link}}" target="_blank" class="card repository_box">
                    <div class="card-body">
                        <h6 class="mb-0 font-weight-bold">{{repo.title}}</h6>
                        <p class="mb-0 mt-1 text-muted">{{repo.description}}</p>
                    </div>
                </a>
            </div>
          {% endfor %}
        </div>
    </div>
</div>