<div class="overlap-container">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-md-8">
                    <p>Web Project Manager and front-end developer with extensive experience working across global corporate, non-profit and boutique agency environments. Expertise in leading website restructuring, development projects, corporate intranet
                        builds and content management plans through the complete lifecycle.</p>
                    <p>Known for being a trusted partner across global matrixed organizations and having the ability to communicate complex information to both technical and non-technical users, including information pertaining to change management, stakeholder
                        engagement and governance. Hispanic marketing and social media expertise: Created award-winning website CorrienteLatina.com. Fluent in English, with intermediate Spanish fluency.</p>

                    <ul class="badges">
                        <li class=""><img src="/img/badge_hubspot.png" class="img-fluid"></li>
                        <li class=""><img src="/img/badge_google.png" class="img-fluid"></li>
                        <li class=""><img src="/img/badge_csm.png" class="img-fluid"></li>
                        <li class=""><img src="/img/iadas.png" class="img-fluid"></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid img-thumbnail" src="img/richard-chiriboga.jpg" alt="Richard Chiriboga">
                </div>

            </div>
        </div>
    </div>