$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;
$accent-color: #4CAF50;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$blue: #337ab7;
$main-color: #ec008c;
$header-font: 'Muli',
sans-serif;
$stackoverflow: #f48024;
$twitter: #1da1f2;
$linkedin: #007bb5;
$github: #4078c0;
$wordpress: #21759b;
$green: #0ac25b;
$purple: #aa6df8;
@mixin social_links {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    color: #fff;
}

body {
    background-color: #f9f9f9;
    padding-top: 50px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #000;
    border-color: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: $blue;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    color: #eee;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: $blue;
}

.logo {
    font-weight: normal;
    font-size: 20px;
    color: #9feaf9 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo img {
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    max-height: 30px;
}

.logo i {
    font-size: 28px;
    vertical-align: middle;
    color: #46c2ca;
}

.logo span {
    vertical-align: middle;
}

.jumbotron {
    height: auto;
    overflow: hidden;
    // background-color: #fff;
    margin-bottom: 0;
    display: flex;
    .container {
        align-self: center;
        p {
            color: #9feaf9;
            font-family: $header-font;
        }
        h1 {
            font-family: $header-font;
            max-width: 70%;
            margin: 0 auto;
            font-size: 35px;
            span {
                // color: #191919;
                font-weight: bold;
            }
        }
    }
}

@for $i from 1 through 6 {
    h#{7 - $i} {
        font-family: $header-font;
    }
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    &.resume {
        padding-top: 20px;
        padding-bottom: 20px;
        p {
            margin-bottom: 0;
        }
    }
}

.projects {
    .row {
        margin-top: 20px;
    }
    .row:first-of-type {
        margin-top: 0;
    }
    p {
        font-size: 14px;
    }
}

.lightgray {
    background-color: #fafbfc !important;
    p {
        font-size: 14px;
    }
}

.darkgray {
    background-color: #343a40 !important;
    p {
        font-size: 14px;
    }
}

.fa-6 {
    font-size: 6em;
}

.fa-7 {
    font-size: 7em;
}

p {
    font-size: 16px;
    font-weight: normal;
}

.clear20 {
    height: 20px;
}

h2 {
    margin-bottom: 20px;
}

.core-strengths {
    margin: 0;
    padding: 0;
}

.subtron {
    border: 1px solid #e0e5e6;
    background-color: #f6f8f8;
    &.white {
        background-color: #fff;
        border: none;
    }
    ul {
        margin-bottom: 0;
    }
}

.bt {
    border-top: 1px solid #e0e5e6;
    .fa {
        color: #333;
    }
}

.fa {
    color: #fff;
}

#aboutme {
    img {
        max-width: 250px;
        height: auto;
    }
    .badges {
        img {
            max-width: 100%;
        }
    }
}

.mainbox {
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    background-color: #131313;
    width: 100%;
    height: 600px;
    position: relative;
}

.mainbox img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-logo {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    border: 2px solid #777;
    position: relative;
    transform: rotate(0deg);
    transition: transform .4s ease-in-out;
    margin-top: 5px;
    .logo-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: transform .4s ease-in-out;
        font-weight: bold;
        font-size: 13px;
        color: #fff;
    }
    &:hover {
        opacity: 1;
        transform: rotate(-90deg);
        transition: transform .4s ease-in-out;
        background-color: $blue;
        border-color: #fff;
        .logo-text {
            transform: translate(-50%, -50%) rotate(90deg);
            transform-origin: center;
        }
        #logo-stroke {
            transform: rotate(-90deg);
            transform-origin: center center;
            transition: transform 0.5s ease-in-out;
        }
    }
}

.btn-rc {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    &:hover,
    &:active {
        background-color: $blue;
        border-color: $blue;
    }
}

@media only screen and (max-width: 786px) {
    .site-logo {
        margin-left: 15px;
    }
    .bio {
        text-align: center;
    }
    .projects .col-xs-12:nth-child(1n+1),
    .projects .col-xs-12:nth-child(1n+2) {
        margin-top: 20px;
    }
    .jumbotron {
        height: auto;
        overflow: hidden;
        margin-bottom: 0;
        display: flex;
        .container {
            h1 {
                font-family: $header-font;
                max-width: 70%;
                margin: 0 auto;
                font-size: 25px;
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .btn-rc {
        display: block;
    }
    .media {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {}

.posts {
    h1 {
        font-size: 30px;
    }
}

.case-study {
    font-size: 20px;
    h2 {
        margin-top: 0;
    }
    p {
        font-size: 20px;
    }
    &.orange {
        background-color: orange;
        color: #fff;
    }
    &.blue {
        background-color: $blue;
        color: #fff;
    }
}

.social a {
    &.twitter {
        background: $twitter;
        @include social_links;
        &:hover {
            background: $twitter;
        }
    }
    &.linkedin {
        background: $twitter;
        @include social_links;
        &:hover {
            background: $twitter;
        }
    }
    &.github {
        background: $github;
        @include social_links;
        &:hover {
            background: $github;
        }
    }
    &.stackoverflow {
        background: $stackoverflow;
        @include social_links;
        &:hover {
            background: $stackoverflow;
        }
    }
    &.wordpress {
        background: $wordpress;
        @include social_links;
        &:hover {
            background: $wordpress;
        }
    }
}

.featured-blog-img {
    margin-bottom: 30px;
}

.blog-box {
    display: table;
    width: 100%;
    min-height: 130px;
    p {
        margin-bottom: 0;
        font-style: italic;
    }
    h4 {
        margin-top: 0;
    }
    .development {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: top;
        background: $stackoverflow;
        border: darken($stackoverflow, 15%);
        color: #fff;
        &:hover {
            text-decoration: none;
            background: darken($stackoverflow, 15%);
            border: $stackoverflow
        }
    }
    .information {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: top;
        background: $green;
        border: darken($green, 15%);
        color: #fff;
        &:hover {
            text-decoration: none;
            background: darken($green, 15%);
            border: $green
        }
    }
    .presentation {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: top;
        background: $purple;
        border: darken($purple, 15%);
        color: #fff;
        &:hover {
            text-decoration: none;
            background: darken($purple, 15%);
            border: $purple
        }
    }
    .brands {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: top;
        background: $twitter;
        border: darken($twitter, 15%);
        color: #fff;
        &:hover {
            text-decoration: none;
            background: darken($twitter, 15%);
            border: $twitter
        }
    }
    @media only screen and (max-width: 786px) {
        margin-bottom: 10px;
    }
}

.posts {
    @media only screen and (max-width: 786px) {
        h1 {
            font-size: 20px;
        }
    }
}