.hp-jumbotron {
    background: $skyblue;
    background: linear-gradient(90deg, $skyblue 25%, $skyblue-dark 50%, $skyblue 75%);
    background-size: cover;
    min-height: 100%;
    text-align: center;
    .hp-intro {
        text-align: center;
        padding: 0 10%;
    }
}