<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %} {% include javascript.html %} {% include json-ld.html %} {% feed_meta %}
</head>

<body id="home" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="50">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23366208-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- [begin] header -->
    {% include header.html %}
    <!-- [end] header -->
    <!-- [begin] content -->
    <div class="overlap-container">
        <div class="container pt-4">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                    {{ content }} {% if page.contact %} {% include post-contact.html %} {% endif %}
                    <script>
                        document.body.onkeyup = function(e) {
                            if (e.keyCode == '37') {
                                window.location = '{{page.previous.url}}';
                            }
                            if (e.keyCode == '39') {
                                window.location = '{{page.next.url}}';
                            }
                        };
                    </script>
                    <hr/>
                    <nav aria-label="...">
                        <ul class="pager">
                            {% if page.previous.url %}
                            <li class="previous"><a href="{{page.previous.url}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            {% endif %} {% if page.next.url %}
                            <li class="next"><a href="{{page.next.url}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>
    <!-- [end] content -->
    <!-- [begin] footer -->
    {% include footer.html %}
    <!-- [end] footer -->
</body>

</html>