<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %} {% include javascript.html %}{% include json-ld.html %}
</head>

<body id="home" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="50">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23366208-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- [begin] header -->
    {% include header.html %}
    <!-- [end] header -->
    <!-- [begin] content -->
    <div class="jumbotron jumbotron-fluid hp-jumbotron">
        <div class="container">
            <div class="hp-header-container">
                <h1 class="display-5 hp-intro">{{ page.title }}</h1>
                <p class="hp-text">{{ page.description }}</p>
            </div>
        </div>
        <div class="jumbostron-bottom-wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 40" preserveAspectRatio="none">
            <path d="M 0 32.5985 C 200 32.5985 251.97 0 451.97 0 C 651.97 0 800 40 1000 40 L 1000 50 L 0 50 L 0 32.5985 Z">
                <animate attributeName="d" begin="0s" dur="5s" repeatCount="indefinite" values="
              M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;
              M0,40 C200,40 400,0 600,0 C800,0 800,40 1000,40 L1000,50 L0,50 L0,40 Z;
              M0,30 C200,30 200,0 400,0 C600,0 800,40 1000,40 L1000,50 L0,50 L0,30 Z;
              M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;"></animate>
            </path>
        </svg>
        </div>
    </div>
    <div class="overlap-container">
        <div class="container pt-4">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                    <img src="/img/{{ page.img }}" class="img-fluid img-rounded" alt="{{ page.title }}" />
                    <h4 class="mt-3">Technology Used</h4>
                    <p>{{ post.url}}</p>
                    <ul>
                        {% for item in page.used %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% capture the_collection %}{{page.collection}}{% endcapture %} {% if page.collection %} {% assign document = site[the_collection] %} {% endif %}
                    <hr /> {% for links in document %} {% if links.title == page.title %} {% unless forloop.first %} {% assign prevurl = prev.url %} {% endunless %} {% unless forloop.last %} {% assign next = document[forloop.index] %} {% assign nexturl = next.url
                    %} {% endunless %} {% endif %} {% assign prev = links %} {% endfor %}
                    <script>
                        document.body.onkeyup = function(e) {
                            if (e.keyCode == '37') {
                                window.location = '{{prevurl}}';
                            }
                            if (e.keyCode == '39') {
                                window.location = '{{nexturl}}';
                            }
                        };
                    </script>
                    <nav aria-label="...">
                        <ul class="pager">
                            {% if prevurl %}
                            <li class="previous"><a href="{{prevurl}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            {% endif %} {% if nexturl %}
                            <li class="next"><a href="{{nexturl}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- [end] content -->
    <!-- [begin] footer -->
    {% include footer.html %}
    <!-- [end] footer -->
</body>

</html>